<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "API Suite">

<!--    <test name = "get 10 users" parallel="methods" thread-count="2">-->
    <test name = "get 10 users">
        <classes>
            <class name = "studyPackAPI.GetSingleUserPositive" />
        </classes>
    </test>

</suite>